body{
	background-image: url("Background/RedBackground.jpg");
	background-repeat: no-repeat;
	background-size: 1550px;
}
h1{
	font-family: 'Furgatorio Sans', sans-serif
}
h2{
	font-family: 'Belleza', sans-serif; 150px;
	
}
p{
	font-family: 'Belleza', sans-serif;
}